<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><?php echo $_pageTitle ?> :: Sample Shopping Cart</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.3.0/build/reset-fonts-grids/reset-fonts-grids.css" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.3.0/build/base/base-min.css" />
	<style type="text/css" media="screen">
	   li.category {
	       width: 45%;
	       float: left;
	   }
	</style>
</head>
<body id="doc">
    <div id="hd">
        <h1>Sample Shopping Cart</h1>
    </div>
    
    <div id="bd">
        <div class="yui-gd">
            <div class="yui-u first">
                <h2>Navigation</h2>
                <ul>
                    <li><a href="?/categories/">Categories</a></li>
                    <li><a href="?/cart/">View Cart</a></li>
                </ul>
            </div>
            
            <div class="yui-u">
                
                <h2><?php echo $_pageTitle ?></h2>
                <?php echo $_pageContent ?>
                
            </div>
        </div>
    </div>
    
    <div id="ft">
        <p>Foter</p>
    </div>
	
</body>
</html>