<?php if (!empty($category->description)): ?>
    <p><?php echo $category->description ?></p>
<?php endif ?>



<?php if (!empty($categories)): ?>
<h3>More categories in <?php echo $category->name ?></h3>
<ul>
    
    <?php foreach ((array)$categories as $category): ?>
    <li class="category"><a href="?/categories/view/<?php echo $category->id ?>"><?php echo $category->name ?></a></li>
    <?php endforeach ?>
    
</ul>
<?php endif ?>



<?php if (!empty($products)): ?>
<h3>Products in <?php echo $category->name ?></h3>

    <?php foreach ((array)$products as $product): ?>
    <div class="product">
        
        <h4><?php echo $product->name ?></h4>
        <p><a href="?/products/view/<?php echo $product->id ?>">View Details</a></p>
        
    </div>
    <?php endforeach ?>
    
<?php endif ?>